@import "./helpers/index";
@import "./base/index";

@import "./components/index";
@import "./layout/index";

.section:not(.footer) {
  background-color: #000;
}

/* main visual 메인 비주얼*/
.mv {
  background: url("../img/mv/visual12.jpg") center/110% no-repeat;
  position: relative;
  animation: main-visual-active 2s forwards;
  @keyframes main-visual-active {
    0% {
      background-size: 115%;
    }
    30% {
      background-size: 115%;
    }
    100% {
      background-size: 110%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.28);
  }

  .mv-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 9;
  }

  .mv-txt-group {
    .mv-main {
      font-size: 7.2rem;
      font-weight: 900;
      animation: text-main-fade 3s forwards;

      @keyframes text-main-fade {
        0% {
          opacity: 0;
          transform: translateY(-24px);
        }
        60% {
          opacity: 0;
          transform: translateY(-24px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      strong {
        font-weight: 900;
      }
    }

    .mv-sub {
      margin-top: 18px;
      font-size: 5.6rem;
      font-weight: 700;
      animation: text-sub-fade 4s forwards;
      @keyframes text-sub-fade {
        0% {
          opacity: 0;
          transform: translateY(-24px);
        }
        60% {
          opacity: 0;
          transform: translateY(-24px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .mv-sub2 {
      margin-top: 18px;
      font-size: 3.6rem;
      font-weight: 400;
      animation: text-sub2-fade 5s forwards;
      @keyframes text-sub2-fade {
        0% {
          opacity: 0;
          transform: translateY(-24px);
        }
        60% {
          opacity: 0;
          transform: translateY(-24px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 32px;
    left: 50%;
    display: flex;
    flex-direction: column;
    margin-left: -12px;
    span {
      margin-bottom: -4px;
      width: 1.8rem;
      height: 1.8rem;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 2s infinite;
      animation: sdb 2s infinite;
      opacity: 0;
      box-sizing: border-box;

      &:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
      &:nth-of-type(2) {
        bottom: 24px;
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
      }
      &:nth-of-type(3) {
        bottom: 36px;

        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
    }

    @-webkit-keyframes sdb {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

/* greeting 인사말 */
.greeting {
  background: url("../img/sectionBg/greetingBg.jpg") center/cover no-repeat;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .greeting-txt-box {
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(50px);

    text-align: center;
    color: #fff;
    padding: 56px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      margin-top: 0;
      padding-inline: 56px;
    }
  }

  .greeting-main {
    max-width: 1024px;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .greeting-sub {
    max-width: 1088px;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 3.4rem;
  }
}

/* history 연혁 */
.history {
  position: relative;

  background: url("../img/sectionBg/historyBg.jpg") no-repeat center/cover;

  .history-wrap {
    display: flex;
    padding-block: 240px;

    @include desktop {
      padding-block: 140px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .section-title {
    @include hidden;

    @include desktop {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
  .right,
  .left {
    width: 50%;

    @include desktop {
      margin-top: 64px;
      width: 100%;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 10.6rem;
    color: #fff;
    text-align: center;

    @include desktop {
      @include hidden;
    }

    span {
      font-size: 9.6rem;
      font-weight: 900;
      margin-right: 12rem;

      &:nth-child(2) {
        transform: rotate(90deg);
      }
    }
  }

  .right {
    color: #eee;

    .histroy-list {
      margin: 0 auto;
      max-width: 80%;

      @include mobile {
        max-width: 100%;
      }
    }

    .history-item {
      display: flex;

      padding-bottom: 5.8rem;
      border-bottom: 1px solid #333;

      &:not(:first-child) {
        padding-block: 5.8rem;
      }

      @include tablet {
        justify-content: center;
        padding-inline: 32px;
      }
    }
    .year {
      font-size: 3.2rem;
      font-weight: 700;
      color: #fff;
      margin-right: 11.9rem;
    }

    .desc {
      font-size: 2.3rem;

      @include tablet {
        flex-grow: 1;
      }
      span {
        display: block;

        + span {
          margin-top: 4.8rem;
        }
      }
    }
  }
}

/* business 사업 분야*/
.business {
  .business-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      flex-direction: column;
      justify-content: center;
    }
  }
  .left {
    flex-basis: 460px;
    flex-shrink: 0;
    margin-right: 8.5rem;

    @include desktop {
      flex-basis: auto;
      margin: 0 auto;
    }

    .section-desc {
      font-size: 2.2rem;
      max-width: 443px;

      @include desktop {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .right {
    .card-list {
      display: flex;

      flex-wrap: wrap;
      gap: 32px;

      @include mobile {
        gap: 24px;
      }
    }

    .card-item {
      min-height: 280px;
      flex-basis: calc(50% - 32px);
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      padding: 40px 32px;

      border: 2px solid $point-color;
      border-radius: 24px;

      transition: all 200ms ease;

      @include hover {
        &:hover {
          background: $point-color;
          .ico-white {
            opacity: 1;
            visibility: visible;
          }
          .ico-origin {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      @include mobile {
        padding: 24px;
        min-height: 200px;
        flex-basis: 100%;
      }
    }

    .card-left {
      flex-shrink: 0;
      margin-right: 32px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include mobile {
        margin-right: 40px;
      }

      .card-title {
        font-size: 3.2rem;
        font-weight: 700;
      }
    }

    .card-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px 0;

      @include mobile {
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: space-evenly;
      }

      @include mobile-s {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      .card-right-item {
        font-size: 2rem;

        @include mobile {
          font-size: 2.6rem;
          flex-basis: calc(50% - 24px);
          list-style: disc;
          list-style-position: inside;
          text-indent: -20px;
          word-break: keep-all;
        }
        + .card-right-item {
          margin-top: 8px;
          @include mobile {
            margin-top: 0;
          }
        }

        @include mediaQuery(1460px) {
          font-size: 1.8rem;
        }
      }
    }

    .ico-box {
      position: relative;

      img {
        @include mobile {
          max-width: 60px;
          height: auto;
        }
      }
    }

    .ico-white {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: 0;
    }
  }
}

/* partners 고객사*/
.partners {
  .partners-wrap {
    display: flex;
    flex-direction: column;
  }
  .logo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 47px;

    @include mobile {
      gap: 24px;
    }
  }

  .logo-item {
    flex-basis: calc(33.3% - 47px);
    text-align: center;

    @include mobile {
      flex-basis: calc(50% - 12px);
    }
  }
}

/* contact 문의*/
.contact-form {
  background: url("../img/sectionBg/contactFormBg.png") center/cover no-repeat;
  .contact-form-wrap {
    display: flex;
    justify-content: space-between;

    @include desktop {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/* way 오시는 길 */
.way {
  .section-title {
    margin-bottom: 32px;
  }
  .way-wrap {
    padding-inline: 64px;

    @include tablet {
      padding-inline: 0;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .way-con {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    @include mobile {
      flex-direction: column;
      text-align: center;
    }
  }

  .left {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .way-txt-box {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        display: block;

        &.way-name {
          font-size: 3.6rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        &.way-address {
          font-size: 2.4rem;
          color: #c2c2c2;
          margin-block: 14px;
        }

        &.way-info {
          font-size: 2rem;
          color: #777;
          line-height: 3.2rem;
          font-weight: 400;

          @include tablet {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    max-width: 100%;
    .img-map {
      margin-left: 32px;
      max-width: calc(240px + 15vw);
      height: auto;

      @include tablet {
        margin-left: 0;
        margin-top: 32px;
      }
    }
  }
}
