* {
  font-family: "Pretendard";
  font-weight: $basic-fw;
  letter-spacing: 0.4px;

  @include mobile {
    font-weight: $mobile-fw;
  }
}

html {
  font-size: 62.5%;
  // 1rem = 10px
  color: #fff;

  @include desktop {
    font-size: 50%;
  }

  @include tablet {
    font-size: 45%;
  }

  @include mobile {
    font-size: 40%;
  }
}

.section .container {
  @include desktop {
    padding-block: 140px;
  }
}
.container {
  max-width: 1600px;
  padding-inline: 64px;
  margin: 0 auto;

  @include mobile {
    padding-inline: 32px;
  }
}

.section-title {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
}

.logo {
  min-width: 128px;
}

/* style */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* font-weight */
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}

/* margin */
.mgR32 {
  margin-right: 32px;
}
.point-color {
  color: $point-color-txt;
}
