* {
  font-family: "Pretendard";
  font-weight: 200;
  letter-spacing: 0.4px;
}

html {
  font-size: 62.5%;
  // 1rem = 10px
  color: #fff;

  @include desktop {
    font-size: 50%;
  }

  @include tablet {
    font-size: 45%;
  }

  @include mobile {
    font-size: 35%;
  }
}

.container {
  max-width: 1600px;
  padding-inline: 24px;
  margin: 0 auto;

  @include desktop {
    &:not(.greeting-wrap, .header-wrap) {
      padding-inline: 124px;
    }
  }

  @include tablet {
    &:not(.greeting-wrap, .header-wrap) {
      padding-inline: 48px !important;
    }
  }
  @include mobile {
    &:not(.greeting-wrap, .header-wrap) {
      padding-block: 80px !important;
      padding-inline: 24px !important;
    }
  }
}

.section-title {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
}

.logo {
  min-width: 128px;
}

/* style */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* font-weight */
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}

/* margin */
.mgR32 {
  margin-right: 32px;
}
.point-color {
  color: $point-color-txt;
}
