@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
