/* height */
$header-height: 80px;

$form-item-height: 46px;

/* color */
$point-color-txt: #fcb500;
$point-color: #f99500;

/* breakpoint*/
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 960px;
$breakpoint-mobile: 768px;
