/* height */
$header-height: 80px;

$form-item-height: 46px;

/* font weight*/
$basic-fw: 200;
$mobile-fw: 300;

/* color */
$point-color-txt: #fcb500;
$point-color: #f99500;

/* breakpoint*/
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 960px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-s: 440px;
